{% extends "base.html" %}
{% block content %}

<h3 class="light-green-text text-darken-4 center-align">Create Recipe</h3>

<div class="row card-panel grey lighten-4">
    <form class="col s12" method = "POST" action = "{{ url_for('create_recipe') }}">
        <!-- Recipe Title -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-pencil-alt prefix light-green-text text-darken-4"></i>
                <input id="recipe_name" name="recipe_name" minlength ="5" maxlength="50" type="text" class="validate" required>
                <label for="recipe_name">Recipe Title:</label>
            </div>
        </div>
        <!-- Category selection -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-pencil-alt prefix light-green-text text-darken-4"></i>
                <select id="category_name" name="category_name" 
                    type="text" class="validate" required>
                    <option value="" disabled selected>Choose your category</option>
                    {% for category in categories %}
                        <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                    {% endfor %}
                </select>
                <label for="category_name">Choose a category</label>
            </div>
        </div>
        <!-- Method for recipe -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-pencil-alt prefix light-green-text text-darken-4"></i>
                <textarea id="method" name="method" minlength="5" maxlength="500" placeholder="Insert each instruction on it's own line" class="materialize-textarea validate required"></textarea>
                <label for="Method">Method</label>
                <span data-error="wrong" data-success="right">Please put each method on a new line</span>
            </div>
        </div>
        <!-- Ingredients for recipe -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-pencil-alt prefix light-green-text text-darken-4"></i>
                <textarea id="ingredients" name="ingredients" rows="6" placeholder="Insert each ingredient on it's own line" class=" materialize-textarea validate required"></textarea>
                <label for="ingredients">Ingredients:</label>
                <span data-error="wrong" data-success="right">Please put each ingredient on a new line</span>
            </div>
        </div>

        <!-- Recipe created by-->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-pencil-alt prefix light-green-text text-darken-4"></i>
                <input id="created_by" name="created_by" minlength ="5" maxlength="50" type="text" class="validate" required>
                <label for="created_by">Created By:</label>
            </div>
        </div>

        <!-- Add url image link to recipe -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-camera prefix light-green-text text-darken-4"></i>
                <input id="img_url" name="img_url" type="text" class="validate">
                <label for="img_url">Recipe Image</label>
            </div>
        </div>

        <!-- submit button -->
        <div class="row">
            <div class="col s12 center-align">
                <button class="btn btn-large light-green darken-4 text-shadow-2" type="submit">Create Recipe
                <i class="fas fa-arrow-alt-circle-right"></i>
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}