{% extends "base.html" %}
{% block content %}

<h3 class="light-green-text text-darken-4 center-align">Edit Recipe</h3>

<div class="row card-panel grey lighten-4">
    <form class="col s12" method = "POST" action = "{{ url_for('edit_recipe', recipe_id=recipe._id) }}">
        <!-- Recipe Title -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-pencil-alt prefix light-green-text text-darken-4"></i>
                <input id="recipe_name" name="recipe_name" minlength ="5" maxlength="50" value="{{ recipe.recipe_name }}" type="text" class="validate" required>
                <label for="recipe_name">Recipe Title:</label>
            </div>
        </div>
        <!-- Category selection -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-pencil-alt prefix light-green-text text-darken-4"></i>
                <select id="category_name" name="category_name" 
                    type="text" class="validate" required>
                    <option value="" disabled>Choose your category</option>
                    {% for category in categories %}
                        {% if category.category_name == recipe.category %}
                            <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                        {% else %}
                            <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <label for="category_name">Choose a category</label>
            </div>
        </div>
        <!-- Method for recipe -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-pencil-alt prefix light-green-text text-darken-4"></i>
                <textarea id="method" name="method" minlength="5" maxlength="800" value="{{ recipe.method }}" class="materialize-textarea validate required"></textarea>
                <label for="Method">Method</label>
                <span data-error="wrong" data-success="right">Please put each method on a new line</span>
            </div>
        </div>
        <!-- Ingredients for recipe -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-pencil-alt prefix light-green-text text-darken-4"></i>
                <textarea id="ingredients" name="ingredients" minlength ="5" maxlength="500" value="{{- recipe.ingredients -}}" class="materialize-textarea validate required"></textarea>
                <label for="ingredients">Ingredients:</label>
                <span data-error="wrong" data-success="right">Please put each ingredient on a new line</span>
                </span>
            </div>
        </div>
        <!-- Recipe created by-->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-pencil-alt prefix light-green-text text-darken-4"></i>
                <input id="created_by" name="created_by" minlength ="5" maxlength="50" value="{{ recipe.created_by }}"type="text" class="validate" required>
                <label for="created_by">Created By:</label>
            </div>
        </div>
        <!-- Add url image link to recipe -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-camera prefix light-green-text text-darken-4"></i>
                <input id="recipe_img_url" name="recipe_img_url" value="{{ recipe.recipe_img_url }}" type="text" class="validate">
                <label for="recipe_img_url">Recipe Image</label>
            </div>
        </div>

        <!-- Add url link to recipe -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-camera prefix light-green-text text-darken-4"></i>
                <input id="recipe_url" name="recipe_url" value="{{ recipe.recipe_url }}" type="text" class="validate">
                <label for="recipe_url">Original Recipe</label>
            </div>
        </div>        
        <!-- submit and edit buttons -->
        <div class="row">
            <div class="col s12 center-align">
                <a href="{{ url_for('get_recipes') }}" class="btn-large red text-shadow">Return to Profile<i class="fas fa-times-circle right"></i></a>
                <button class="btn btn-large light-green darken-4 text-shadow-2" type="submit">Edit Recipe
                <i class="fas fa-edit"></i>
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}