{% extends "base.html" %}
{% block content %}

    <h3 class="center-align">Log In</h3>

    <div class="row">
        <form class="col s12 m8" method="POST" action="{{ url_for('login') }}">
            <div class="card-panel">
                <!-- Username -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-user-plus prefix light-green-text text-darken-4"></i>
                        <input id="username" name="username" type="text" minlength ="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                        <label for="username">User Name</label>
                    </div>
                </div>
                <!-- Password -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-user-cog prefix light-green-text text-darken-4"></i>
                        <input id="password" name="password" type="password" minlength ="8" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" aria-labelledby="confirm password" placeholder="password" required>
                        <label for="password">Password</label>
                    </div>
                </div>
                <!-- Confirm Password -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-user-lock prefix light-green-text text-darken-4"></i>
                        <input id="confirm_password" name="confirm_password" type="password" class="validate" aria-labelledby="confirm_password" placeholder="confirm password" onclick="return checkPasswordMatch()"; required>
                        <label for="confirm_password">Confirm Password</label>
                    </div>
                </div>
                <!-- Login -->
                <div class="row">
                    <button type="submit" class="col s12 btn-large light-green darken-4 text-shadow btn-login">
                        Log In <i class="fas fa-sign-in-alt"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

    <div class="row">
        <div class="col s-12">
            <p class="center-align">Would you like to register?
            <a href="{{ url_for('register')}}" class="light-green-text text-darken-4">Register Account</a>
            </p>
        </div>
    </div>
{% endblock %}