{% extends "base.html" %}
{% block content %}

    <div class="container profile-box">
        <div class="row">
            <div class="col s12 center-align">
                <div class="card-panel">
                    <h3 class="center-align light-green-text text-darken-4">
                        {{ username}}'s Profile Page
                    </h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 center-align">
            <h4 class="center-align">
                {{username}}'s Recipes
            </h4>
        </div>
    </div>

    {% if recipes|length >0 %}

        <div class="container-fluid">
            <div class="row">
                <div class="col s12">
                    <h3 class="light-green-text text-darken-4 center-align">All Recipes</h3>
                </div>
            </div>
            
            <div class="col s4 recipe-main-item">
                <div class="row recipe-card">
                    <!-- credit to https://mdbootstrap.com/docs/standard/components/cards/-->
                    {% for recipe in recipes %}
                        <div class="card-body recipe-main-item">
                            {% if recipe.recipe_img_url %}
                                <a href = "{{ url_for('get_recipes', recipe_id=recipe._id) }}">
                                <img class ="card-img-top" src="{{ recipe.recipe_img_url }}" alt="{{ recipe.recipe_name }}"/>
                                </a>
                                {% else %}
                                <a href = "{{ url_for('get_recipes', recipe_id=recipe._id)}}">
                                <img class ="card-img-top" src="static/images/no_img_available.jpg" alt="No recipe available"/>
                                </a>
                            {% endif %}
                                <div class="card-body">
                                    <h5 class="card-title">{{ recipe.recipe_name }}</h5>
                                    <p class="card-text">
                                    {{ recipe.created_by }}
                                    </p>
                                <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="btn green accent-4">Edit</a>
                                <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" class="btn red accent-4">Delete</a><br>    
                                <a href="{{ url_for('full_recipe', recipe_id=recipe._id) }}" class="btn btn-success">Full Recipe</a><br>
                                <a href="{{ url_for('get_recipes')}}">Return to Home Page</a>
                                </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    
    
    {% else %}
        <h3 class="red-text text-darken-4 center-align">No Recipes Added Yet!</h3>
{% endif %}
    
    
                         

{% endblock %}